dist: trusty
sudo: required
env:
  global:
    - DISPLAY=:99.0
    - PYTEST_ADDOPTS="--verbose --instafail"
    - FF_ESR_BINARY=$HOME/firefox-latest-esr/firefox/firefox-bin
    - FF_NIGHTLY_BINARY=$HOME/firefox-latest-nightly/firefox/firefox-bin
git:
  depth: 10

_bindings:
  java: &java
    language: java
    jdk: oraclejdk8
  python: &python
    language: python
    python: 2.7
  ruby: &ruby
    language: ruby
    rvm: 2.3.3

_browsers:
  firefox: &firefox-latest
    addons:
      firefox: latest
  firefox-esr: &firefox-esr
    addons:
      firefox: latest-esr
  firefox-nightly: &firefox-nightly
    addons:
      firefox: latest-nightly
  chrome: &chrome
    addons:
      apt:
        packages:
          - google-chrome-stable
  safari: &safari
    os: osx
    osx_image: xcode8.3

matrix:
  fast_finish: true
  exclude:
    - env: CHROME=1 TASK="calcdeps //javascript/atoms:atoms-chrome:run"
      <<: *java
      <<: *chrome
    - env: MARIONETTE=1 TASK=//java/client/test/com/thoughtworks/selenium:firefox-rc-test:run
      <<: *java
      <<: *firefox-nightly
    - env: CHROME=1 TASK=//java/client/test/com/thoughtworks/selenium:chrome-rc-test:run
      <<: *java
      <<: *chrome
    - env: CHROME=1 TASK=test_chrome
      <<: *java
      <<: *chrome
    - env: CHROME=1 TOXENV=py27-chrome
      <<: *python
      <<: *chrome
    - env: MARIONETTE=1 TOXENV=py27-marionette
      <<: *python
      <<: *firefox-nightly
    - env: CHROME=1 TOXENV=py36-chrome
      <<: *python
      <<: *chrome
      python: 3.6
    - env: MARIONETTE=1 TOXENV=py36-marionette
      <<: *python
      <<: *firefox-nightly
      python: 3.6
  include:
    - env: SAFARI=1 TASK=//rb:safari-test
      <<: *safari
      <<: *ruby
  allow_failures:
    - env: CHROME=1 TASK=//java/client/test/com/thoughtworks/selenium:chrome-rc-test:run
    - env: MARIONETTE=1 TASK=//java/client/test/com/thoughtworks/selenium:firefox-rc-test:run
    - env: TOXENV=py27-firefox
    - env: MARIONETTE=1 TOXENV=py27-marionette
    - env: TOXENV=py27-remote
    - env: TOXENV=py36-firefox
    - env: MARIONETTE=1 TOXENV=py36-marionette
    - env: TOXENV=py36-remote
    - env: PHANTOMJS=1 TOXENV=py27-phantomjs
    - env: PHANTOMJS=1 TOXENV=py36-phantomjs
install: ./scripts/travis/install.sh
before_script: ./scripts/travis/before_script.sh
script: ./scripts/travis/script.sh
notifications:
  email: false
  irc:
    channels:
      - secure: K+Wuro8Y/66zt9truTZuZzFmPqiGrFsH/sPzOBDK3+57mL6/vg2NoQCXOTq3U5RLdVKavlvZcm6+9nsNncVPRgzL7ORuW3BgLaBJis3lTA13AqlOnAbXcYytQEulVeWmvPipHFFFqaHs/z77lxm4fKwAAuBnK1f+mXKZDZR2hLo=
    on_success: never
    on_failure: always
    use_notice: true
    skip_join: true
